<table>
  <h2>User info</h2>
  <thead>
    <tr>
       <%= attachment_image_tag user, :profile_image, :fill, 100, 100, fallback: "https://via.placeholder.com/100x100"%>
    </tr>
  </thead>
    <tbody>
    <tr>
      <th>Name</th>
      <th><%= user.name %></th>
    </tr>
    <tr>
      <th>Introduction</th>
      <th><%= user.introduction %></th>
    </tr>

        <%= link_to edit_user_path(current_user) do %>
        <span>edit profile</span>
        <% end %>

  </tbody>
</table>
